@page "/csharp"

<PageTitle>Event Handler 1</PageTitle>

<h1>@headingValue</h1>
<p>@headingChangeTime</p>
<br>
<button type="button" class="btn btn-outline-primary" @onclick="ToggleVisibility">Change Header</button>
<br>
<br>

@if (isVisible)
{
    <div class="form-group">
        <form>
            <textarea class="form-control" @bind="customHeader" name="Besked" rows="5" cols="50"></textarea>
            <br>
            <button type="button" class="btn btn-outline-secondary" @onclick="UpdateHeading">Update</button>
            <button type="button" class="btn btn-outline-danger" @onclick="DeleteHeading">Delete</button>
        </form>
    </div>
}

@code {
    private string customHeader = "";
    private bool isVisible = false;
    private string delHeading = "N/A";
    private string headingValue = "Initial heading";
    private string checkedMessage = "Not changed yet";
    private string headingChangeTime = "N/A";

    private void ToggleVisibility()
    {
        isVisible = !isVisible;
    }
    private void UpdateHeading()
    {
        if (customHeader != null)
        {
            headingValue = $"{customHeader}";

            headingChangeTime = $"Updated ({DateTime.Now})";
        }
        else
        {
            
        }
    }
    private void DeleteHeading()
    {
        headingValue = $"{delHeading}";
        headingChangeTime = $"Updated ({DateTime.Now})";
    }

}