@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table>
    <tr>
        <td>Besked:</td>
        <td>
            <textarea name="Besked" rows="5" cols="50"></textarea><br><br>
        </td>
    </tr>
</table>